.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 400px 200px 200px 300px;
  gap: 10px 0px;
  grid-template-areas:
    "Header"
    "center"
    "Sidebarleft"
    "Sidebarright"
    "Footer";
}
.show {
  display: block;
  transform-origin: top center;
  animation: translateX 300ms ease-in-out forwards;
}
.hide {
  display: none;
}
@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60%);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.Header {
  grid-area: Header;
  border: 1px solid blue;

  background-color: white;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.Header a img.logo {
  width: 150px;
  margin: 10px;
}

.center {
  grid-area: center;
  border: 1px solid yellow;
  background-color: #ffe;
}

.Sidebarleft {
  grid-area: Sidebarleft;
  border: 1px solid red;
  background-color: #ffd;
}

.Sidebarright {
  grid-area: Sidebarright;
  border: 1px solid green;
  background-color: #ffc;
}

.Footer {
  grid-area: Footer;
  border: 1px solid blanchedalmond;
  background-color: #333;
}
.Footer h3 {
  color: white;
}
nav.anav {
  width: 100%;
  position: absolute;
  top: 100px;
}
ul#topmenu {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  background: #f00;
  z-index: 10;
  list-style: none;
  margin: 10 auto;
  width: 100%;
}
ul#topmenu li {
  padding: 10px;
  border-radius: 10px;
}
ul#topmenu li a {
  text-decoration: none;
  letter-spacing: 2.1px;
  font: 500 14px/17px "san serif";
}
nav.bnav {
  display: flex;
  margin: auto;
  align-items: center;

  justify-content: center;
}
nav.bnav ul {
  display: flex;

  flex-flow: column wrap;
  list-style: none;
}
nav.bnav ul li {
  list-style: none;
  margin: 10px auto;
}
nav.bnav ul li a {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  font: 550 13px/17px "Lato";
  color: white;
  cursor: pointer;
}
.Footer p {
  color: white;
  font: 300 10px/12px "Lato";
}
